mat-form-field,
textarea {
  width: 100%;

}
mat-spinner {
   margin: auto;
}

input[type="file"] {
   visibility: hidden;
}

.image-preview{
   height: 5ren;
   margin: 1ren 0;
}

.image-preview img {
  height: 100%;
}
